*{
    box-sizing: border-box;
}

@media (min-width: 992px){ 

    body{
        font-size: 20px;
    }

    p{
    font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 175%;
    }

    .right{
        position: relative;
        left: 80%;
        width: 20%;
        border: 1px solid black;
        background-color:aqua;
        padding: 5px;
        margin: 0;
        font-size: 125%;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .top{
        position: relative;
        left: 80%;
        width: 20%;
        border: 1px solid black;
        background-color: saddlebrown;
        padding: 5px;
        margin: 0;
        font-size: 125%;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .left{
        position: relative;
        left: 80%;
        width: 20%;
        border: 1px solid black;
        background-color: pink;
        padding: 5px;
        margin: 0;
        font-size: 125%;
        margin-bottom: 5px;
        overflow: hidden;
    }

    section{
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
        padding: 0 0 5px 5px;
        margin: 10px;
        background-color: darkgray;
        width: 32%;
        height: 30%;
        float: right;
    }   
}
 
    @media  (max-width: 991px) and (min-width: 768px) {
        body{
            font-size: 20px;
        }
        
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 175%;
        }

        .right{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color:aqua;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        .top{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color: saddlebrown;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        .left{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color: pink;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        section{
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid black;
            padding: 0 0 5px 5px;
            margin: 10px;
            background-color: darkgray;
            width: 47%;
            height: 30%;
            float: right;
        }

        .container3>section{
            width: 96%;
        }
    }

    @media (max-width:767px){
        body{
            font-size: 20px;
        }
        
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 175%;
        }

        .right{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color:aqua;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        .top{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color: saddlebrown;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        .left{
            position: relative;
            left: 80%;
            width: 20%;
            border: 1px solid black;
            background-color: pink;
            padding: 5px;
            margin: 0;
            font-size: 125%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        
        section{
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid black;
            padding: 0 0 5px 5px;
            margin: 10px;
            background-color: darkgray;
            width: 50%;
            height: 30%;
            float: right;
        }
    }
